apiVersion: apps/v1
kind: Deployment
metadata:
  name: yolo-backend
  namespace: yolo
spec:
  replicas: 2
  selector:
    matchLabels:
      app: yolo-backend
  template:
    metadata:
      labels:
        app: yolo-backend
    spec:
      containers:
        - name: backend
          image: pmcmuchiri/pmc-yolo-backend:v1.0.1
          ports:
            - containerPort: 5000
          envFrom:
            - configMapRef:
                name: yolo-backend-config
            - secretRef:
                name: yolo-secrets
          readinessProbe:
            httpGet:
              path: /health
              port: 5000
            initialDelaySeconds: 10
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /health
              port: 5000
            initialDelaySeconds: 20
            periodSeconds: 20
---
apiVersion: v1
kind: Service
metadata:
  name: yolo-backend
  namespace: yolo
spec:
  selector:
    app: yolo-backend
  ports:
    - name: http
      port: 5000
      targetPort: 5000
  type: ClusterIP
