apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: yolo-ingress
  namespace: yolo
spec:
  ingressClassName: gce
  rules:
    - http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: yolo-frontend
                port:
                  number: 80
